language: python
python:
  - "2.7"
env:
  - DJANGO_VERSION=1.2.7
  - DJANGO_VERSION=1.3.1
  - DJANGO_VERSION=1.4
before_install:
  - sudo apt-get build-dep python-imaging
install:
   # Install whatever version of Django that's listed above
   # Travis is currently working on
 - pip install -q Django==$DJANGO_VERSION --use-mirrors
 - pip install -q PIL --use-mirrors
script: python runtests.py
